@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.container-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 120px;
}

.form-box, label{
  font-family: 'Open Sans', sans-serif;
  color: #051D33;
  font-weight: 600;
  font-size: 16px;
}
.form-box, input{
  color: gray;
}

.form-group{
  width: 410px;
}

.message p{
    width: 425px;
    height: 42px;
    color: var(--Gray-1, #333);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.titleform{
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-bottom: #FCDDEC 1px solid;
}

form h3{
    color: var(--Primary-Black, #1D1D1D);
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

button, .btn{
  font-family: 'Poppins', sans-serif;
  width: 410px;
  height: 48px;
  font-weight: 700;
}
.options{
  display: flex;
  gap: 48px;
}

.options p{
  font-weight: 600;
  font-size: 14px;
}

.options .cadastra-se{
  font-weight: 700;
  color: #307FE2;
}

.remember{
  font-weight: 400;
  font-size: 14px;
}

.awe{
  background-image: url('img/background\ 2.png');
  width: 466px;
  height: 710px;
}

.aweimg{
  display: flex;
  justify-content: center;
}

.awe h4{
  color: #307FE2;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.awe p{
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.title{
  display: flex;
  align-items: center;
  gap: 270px;
}

.title h4{
  width: 223px;
  height: 48px;
}

.title p{
    width: 245px;
    height: 19px;
}

.titlecontent{
  margin-top: 95px;
  width: 169px;
  height: 101px;
}

.arrowtitle{
  position: relative;
  top: 50px;
}
